In [1]:
import pandas as pd
from scrapers import *

In [2]:
summ = summ_build(rescrape=False)
summ

    ticker             security                industry    weight
0      MMM           3M Company             Industrials  0.003330
1      ABT  Abbott Laboratories             Health Care  0.006305
2     ABBV          AbbVie Inc.             Health Care  0.006060
3     ABMD          ABIOMED Inc             Health Care  0.000414
4      ACN        Accenture plc  Information Technology  0.005509
..     ...                  ...                     ...       ...
484    YUM      Yum! Brands Inc  Consumer Discretionary  0.001074
485   ZBRA   Zebra Technologies  Information Technology  0.000655
486    ZBH        Zimmer Biomet             Health Care  0.001019
487   ZION        Zions Bancorp              Financials  0.000225
488    ZTS               Zoetis             Health Care  0.002529

[489 rows x 4 columns]

In [5]:
panel = panel_build(rescrape=False)
panel

,MMM,ABT,ABBV,ABMD,ACN,ATVI,ADBE,AMD,AAP,AES,...,WYNN,XEL,XRX,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,172.119888,85.256981,83.871666,168.809998,206.125336,58.266792,334.429993,49.099998,158.191467,19.237413,...,142.405029,60.782249,34.986931,100.115349,78.584686,99.762993,259.140015,148.020065,50.195282,133.169510
2020-01-03,170.637741,84.217628,83.075554,166.820007,205.782028,58.286655,331.809998,48.599998,158.201385,19.016512,...,140.292755,61.074562,34.532185,97.810677,79.047241,99.450531,256.049988,147.633148,49.486965,133.189362
2020-01-06,170.800308,84.658859,83.731171,179.039993,204.438293,59.349670,333.709991,48.389999,155.601410,19.237413,...,140.015091,60.986866,34.011127,95.771927,78.535492,99.391953,258.010010,146.779953,48.883930,132.166824
2020-01-07,170.111816,84.188210,83.253510,180.350006,200.024429,59.945747,333.390015,48.250000,153.755646,19.304644,...,140.679504,60.860199,34.058491,97.958405,78.240242,99.567711,256.470001,146.650970,48.587196,132.613556
2020-01-08,172.722321,84.531395,83.843567,178.690002,200.416824,59.488754,337.869995,47.830002,151.989243,19.266226,...,141.562103,60.801735,34.039543,97.682640,78.505951,99.743477,247.639999,148.406982,49.065796,132.325638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,173.093628,107.915245,102.066246,303.410004,256.423737,90.959999,499.859985,91.809998,160.679993,23.116962,...,114.389999,64.629997,22.333601,141.990005,99.966408,107.027023,376.890015,149.250000,43.052757,160.471298
2020-12-28,173.282074,107.357498,102.254044,312.910004,258.795624,91.430000,498.950012,91.599998,158.800003,23.146763,...,115.470001,65.320000,23.025963,141.520004,100.086075,109.256340,382.589996,148.889999,43.072624,162.138718
2020-12-29,172.429108,107.895332,103.489594,320.929993,256.882202,91.370003,502.109985,90.620003,156.690002,23.156698,...,114.309998,65.419998,22.660000,139.899994,99.228508,108.927910,378.040009,152.449997,42.486534,162.867584
2020-12-30,172.686966,108.004890,104.053001,323.920013,256.662933,91.580002,497.450012,92.290001,157.660004,22.630184,...,113.400002,65.650002,22.889999,142.100006,100.494911,108.987625,383.750000,152.220001,42.933552,164.015808
2020-12-31,173.361404,109.050674,105.911278,324.200012,260.320435,92.849998,500.119995,91.709999,157.509995,23.345449,...,112.830002,66.669998,23.190001,141.770004,101.502052,108.042152,384.329987,154.089996,43.152092,165.243912